<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shoe website</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
    <div class="logo">SOLESTYLE</div>
    
    <nav>
        <ul>
            <li><a href="#new">New</a></li>
            <li><a href="#women">Women</a></li>
            <li><a href="#Men">Men</a></li>
            <li><a href="#Kids">Kids</a></li>
            </ul>
    </nav>
    <div class="right">
        <input type="text" placeholder="search">
        <a href="#wishlist"><img src="../static/images/icons8-heart-24.png" alt=""></a>&nbsp;&nbsp;&nbsp;
        <a href="#cart"><img src="../static/images/icons8-shopping-cart-24.png" alt=""></a>&nbsp;&nbsp;
        <a href="#account"><img src="../static/images/icons8-customer-24.png" alt=""></a>
        
    </div>
</header>

</body>
</html>